* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Monument Extended', sans-serif;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,

button{

}

body {
    overflow-x: hidden;
    max-width: 1920px;
}

/*--SOCIAL--*/

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: absolute;
    top: 30%;
    left: 44.8%;
}

.box i {
    color: white;
    font-size: 25px;
    padding: 20px;
    border-radius: 50px;
    transition: .2s linear;
    cursor: pointer;
}

.box i:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 0 0 50px #fff;
}

/*--HEADER--*/

header {
    height: 120px;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

header .container {
    width: 1500px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .container ul{
    display: flex;
}

header .container ul a {
    font-family: 'tahoma';
    font-size: 1em;
    font-weight: 500;
    color: white;
    margin: 0 30px;
}

@media (max-width :1500px ) {
    header {
        position: relative;
        background-color: rgb(0, 0, 0);
    }

    header .container {
width: 100%;
    }
}

@media (max-width : 750px) {
    header .logo {
        display: none;
    }

    header .container {
        justify-content: center;
    }

    header .container ul a {
        margin: 0 15px;
        font-size: 0.8em;
    }
}

/*--SECTION 1--*/

@media (min-width: 1500px) {
    .sec1 {
        height: 100vh;
        width: 100%;
        background-image: url(/img/bc-top.png);
        background-repeat: no-repeat;
        background-position: top left;
        background-color: #e25112;
    }
}

.sec1 .container {
    width: 1500px;
    height: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.sec1 h1 {
    color: white;
    font-size: 5.5em;
}

.sec1 button {
    position: relative;
    height: 50px;
    width: 50px;
    font-size: 1.8em;
    color: #c3df46;
    border-radius: 50px;
    border: 3px solid white;
    background-color: transparent; 
    z-index: 2;
    transition: 0.3s;
    overflow: hidden;
    cursor: pointer;
}

.sec1 button:hover {
    color: white;
    width: 75px;
}

.sec1 button::before {
    content: ""; 
    position: absolute;
    height: 50px;
    width: 75px;
    border-radius: 50px;
    background-color: #e25112;
    top: -3px;
    left: -3px;
    transform: translate(-100%);
    transition: 0.3s;
    z-index: -1;
}

.sec1 button:hover::before {
    transform: translate(0%);
}

.sec1 button i {
    display: "";
}

@media (max-width : 1500px) {
    .sec1 .container {
        text-align: center;
        justify-content: center;
        width: 100%;
    }

    .sec1 {
        height: 100vh;
        width: 100%;
        background-color: #e25112;
    }
}

@media (max-width : 950px) {
    .sec1 h1 {
        font-size: 6em;
        margin-bottom: 60px;
    }
}

@media (max-width : 700px) {
    .sec1 h1 {
        font-size: 4em;
    }
}

@media (max-width : 500px) {
    .sec1 h1 {
        font-size: 3em;
    }
}


/*--SECTION 2--*/
input {
    display: none;
}

.sec2 .container {
    width: 100%;
    text-align: center;
    background-color: #e25112;
}

.sec2 .container h1 {
    font-size: 35px;
    font-weight: normal;
    position: relative;
    margin: 40px 0;
}

.sec2 .container h1::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: #e25112;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        width: 100px;
    }

    50% {
        width: 200px;
    }

    100% {
        width: 100px;
    }
}

.top-content {
    background-color: rgb(228, 228, 228);
    width: 90%;
    margin: 0 auto 20px;
    height: 45px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;
}

.sec2 .container .top-content h3 {
    height: 100%;
    background-color: lightgray;
    line-height: 45px;
    padding: 0 50px;
    color: black;
}

label {
    display: inline-block;
    height: 100%;
    margin: 0 20px;
    line-height: 45px;
    font-size: 14px;
    color: black;
    cursor: pointer;
    transition: .5s;
}

label:hover {
    color: orange;
}

.instru-gallery {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.instru {
    position: relative;
    height: 230px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px black;
    cursor: pointer;
    transition: .5s;
}

.instru img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .5s;
}

.instru::before {
    content: "ECOUTER";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 14px;
    font-weight: normal;
    width: 100%;
    margin-top: -100px;
    opacity: 0;
    transition: .3s;
    transition-delay: 0.2s;
    z-index: 1;

}

.instru:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    border-radius: 10px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition: .3s;
}

.instru:hover:after {
    height: 100%;
}

.instru:hover::before {
    margin-top: 0;
    opacity: 1;
}

#check1:checked ~ .container .instru-gallery .pic {
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: .5s;
}

#check2:checked ~ .container .instru-gallery .a {
    transform: scale(1);
    opacity: 1;
    position: relative;
}

#check2:checked ~ .container .instru-gallery .b,
#check2:checked ~ .container .instru-gallery .c {
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: 0s;
}

#check3:checked ~ .container .instru-gallery .b {
    transform: scale(1);
    opacity: 1;
    position: relative;
}

#check3:checked ~ .container .instru-gallery .a,
#check3:checked ~ .container .instru-gallery .c {
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: 0s;
}

#check4:checked ~ .container .instru-gallery .c {
    transform: scale(1);
    opacity: 1;
    position: relative;
}

#check4:checked ~ .container .instru-gallery .a,
#check4:checked ~ .container .instru-gallery .b {
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: 0s;
}